@{
    ViewData["Title"] = "Turno";
    var fecha = ViewData["turnodata"] as List<Turno>;
}

<style>
    .container{
        background-color: rgba(227, 227, 227, 0.215);
        border: 1px solid;
        margin-top: 80px;
        padding: 20px;
    }

    .top-container{
        justify-content: space-between;
        border-bottom: 1px solid black;
    }
    
    .top-right i{
        font-size: 10px;
        color:red;
        border: 1px solid red;
        padding: 5px;
        border-radius: 50%;
    }

    .top-right i:hover {
        font-size: 12px;
        color: black;
        background-color: red;
        border: 1px solid red;
        cursor: pointer;
        padding: 6px;
        border-radius: 40%;
        transition: cubic-bezier(0.215, 0.610, 0.355, 1);
        transition-duration: 0.2s;
    }

    h3{
        color: rgb(156, 189, 37);
    }

    .container-turno{
        flex-direction: column;
        align-items: center;

    }

    .col a {
        width: 300px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

    .row a:hover {
        background-color: blue;
        color: white;
    }

    .btn-regresar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding: 10px;
    }

    .font-italic{
        font-style: italic;
        font-size: 12px;
    }
</style>

<div class="contenedor">
    <div class="top-container d-flex">
        <div class="top-left">
            <nav>
                <a asp-controller="Usuarios" asp-action="Index">Ingreso</a>
                <span>></span>
                <a asp-controller="Usuarios" asp-action="Menu">Menù</a>
            </nav>
        </div>
        <div class="top-mid">
            <div class="user-box d-flex">
                <i class="fa-regular fa-circle-user me-2 mt-1"></i>
                <p>@ViewBag.CookieTipoDocumento : </p>
                <p> @ViewBag.CookieDocumento  </p>
                <p>&nbsp;</p>
                <p>@ViewBag.CookieNombres</p>
                <p>&nbsp;</p>
                <p>@ViewBag.CookieApellidos</p>
            </div>
        </div>
        <div class="top-right">
            <a class="text-decoration-none" asp-controller="Usuarios" asp-action="Salir">
                 <i class="fa-solid fa-x"></i>
            </a>
        </div>
    </div>

    <div class="container-contain mt-4">

        <div class="col container-turno text-center d-flex">
            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title">Tu turno es:</h5>
                    <p class="card-text">
                        <b>@ViewBag.CookieLetrasTurno - </b> 
                        <b>@ViewBag.CookieN_Turno</b>
                    </p>
                    <p class="card-text"> <b>Usuario:</b> @ViewBag.CookieNombres </p>
                    <p class="card-text"> <b>Documento:</b> </p> @ViewBag.CookieTipoDocumento - @ViewBag.CookieDocumento</p>
     
                    <p class="card-text"> <b>Fecha:</b> @ViewBag.CookieFecha </p>
                </div>
            </div>

            <p class="font-italic mt-1">Por favor tome su turno acá abajo y espere a ser llamado</p>

            <a class="btn-regresar btn btn-warning text-center" asp-controller="Usuarios" asp-action="Salir">Aceptar</a>
        </div>
    </div>
</div>